In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

## Q1. Pandas version.
#### What's the version of Pandas that you installed?

#### You can get the version information using the __version__ field:

In [4]:
pd.__version__

'2.2.2'

## Q2. Records count
#### How many records are in the dataset?

In [64]:
laptops_df = pd.read_csv("data/laptops.csv")

In [9]:
laptops_df.shape

(2160, 12)

## Q3. Laptop brands
#### How many laptop brands are presented in the dataset?

In [12]:
laptops_df["Brand"].nunique()

27

## Q4. Missing values
#### How many columns in the dataset have missing values?

In [15]:
missing_df = laptops_df.isna().sum() > 0
missing_df.sum()

3

## Q5. Maximum final price
#### What's the maximum final price of Dell notebooks in the dataset?

In [62]:
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Innjoo,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Innjoo,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Innjoo,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,Innjoo,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,Innjoo,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [20]:
dell_df = laptops_df[laptops_df["Brand"] == "Dell"]
max_final_price = dell_df['Final Price'].max()
print(max_final_price)

3936.0

## Q6. Median value of Screen
#### Find the median value of Screen column in the dataset.
#### Next, calculate the most frequent value of the same Screen column.
#### Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#### Now, calculate the median value of Screen once again.

In [23]:
laptops_df['Screen'].median()

15.6

In [45]:
mode = laptops_df['Screen'].mode()[0]

15.6

In [47]:
filled_df=laptops_df['Screen'].fillna(mode)

In [49]:
filled_df.median()

15.6

## Q7. Sum of weights
#### Select all the "Innjoo" laptops from the dataset.
#### Select only columns RAM, Storage, Screen.
#### Get the underlying NumPy array. Let's call it X.
#### Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#### Compute the inverse of XTX.
#### Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
#### Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#### What's the sum of all the elements of the result?

In [123]:
innjoo_df = laptops_df[laptops_df["Brand"]=='Innjoo']

In [129]:
X = innjoo_df[['RAM', 'Storage', 'Screen']]

In [131]:
X.to_numpy()

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [133]:
X_transpose = X.T

In [135]:
XTX=np.dot(X_transpose,X)

In [137]:
XTX_inv = np.linalg.inv(XTX)

In [139]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [141]:
result=np.dot(XTX_inv,X_transpose)

In [143]:
w=np.dot(result,y)

In [145]:
w.sum()

91.29988062995588