In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

## Q1. Pandas version.
#### What's the version of Pandas that you installed?

#### You can get the version information using the __version__ field:

In [13]:
pd.__version__

'2.2.2'

## Q2. Records count
#### How many records are in the dataset?

In [23]:
laptops_df = pd.read_csv("data/laptops.csv")

In [49]:
laptops_df.shape

(2160, 12)

## Q3. Laptop brands
#### How many laptop brands are presented in the dataset?

In [74]:
laptops_df["Brand"].nunique()

27

## Q4. Missing values
#### How many columns in the dataset have missing values?

In [91]:
missing_df = laptops_df.isna().sum() > 0
missing_df.sum()

3

## Q5. Maximum final price
#### What's the maximum final price of Dell notebooks in the dataset?

In [96]:
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [122]:
dell_df = laptops_df[laptops_df["Brand"] == "Dell"]
max_final_price = dell_df['Final Price'].max()
print(max_final_price)

3936.0

## Q6. Median value of Screen
#### Find the median value of Screen column in the dataset.
#### Next, calculate the most frequent value of the same Screen column.
#### Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#### Now, calculate the median value of Screen once again.

In [125]:
laptops_df['Screen'].median()

15.6

In [127]:
laptops_df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [ ]:
laptops_df['Screen'].fillna()